:root{
    --Very-dark-desaturatedblue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    body{
        background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    }
    .container{
        font-size: 13px;
        font-family: 'Kumbh Sans', sans-serif;
        height: 100vh;
        max-width: 375px;
        display: flex;
    }
    .card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 330px;
        background: #fefefe;
        border-radius: 20px;
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header{
        width: 100%;
        height: 160px;
    }
    .main{
        width: 100%;
        height: 110px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-2{
        width: 100%;
        height: 110px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-3{
        width: 100%;
        height: 55px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-4{
        width: 100%;
        height: 55px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-5{
        width: 100%;
        height: 110px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .shadow-img{
        position: relative;
        left: 45px;
    }
    .woman-img{
        position: relative;
        width: 70%;
        top: -210px;
        left: 50px;
    }
    .title{
        font-size: 38px;
        position: relative;
        top: -30px;
        left: 100px;
    }
    .arrow-img1{
        position: relative;
        left: 270px;
        top: -15px;
    }
    .subtitle{
        font-size: 13px;
        padding-bottom: 15px;
    }
    .arrow-img2{
        position: relative;
        left: 270px;
        top: -65px;
    }
    .arrow-img3{
        position: relative;
        left: 270px;
        top: -15px;
    }
    .arrow-img4{
        position: relative;
        left: 270px;
        top: -15px;
    }
    .arrow-img5{
        position: relative;
        left: 270px;
        top: -15px;
    }
    .line{
        border-bottom:solid 1px var(--Light-grayish-blue);
        width:100%;
        height:50px;
    }
    .main-line{
        position: relative;
        top: -40px;
    }
    .text-2-line{
        position: relative;
        top: 20px;
    }
    .text-3-line{
        position: relative;
        top: -105px;
    }
    .text-4-line{
        position: relative;
        top: -45px;
    }
    .text-5-line{
        position: relative;
        top: -40px;
    }
    
    /* DESKTOP */
    @media screen and (min-width:375px) and (max-width:575px) {
        
     /* Mobile Portrait */}
    @media screen and (min-width:576px) and (max-width:767px) {
        
     /* Mobile Landscape */}
    @media screen and (min-width: 768px) and (max-width: 991px) {
        
     /* Tablets */}
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        
     /* Normal desktop */}
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        
     /* Big screens */}
